

.App{
  
  background-image: url('./assets/—Pngtree—digital\ marketing\ and\ mobile\ apps_1389346.png');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
